{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row">
			<div class="col-md-3 col-xs-12">
				<a href="inbox.html" class="btn btn-primary btn-mail-main btn-block margin-bottom-20 waves-effect waves-light">Back to inbox</a>
				<div class="box box-solid">
					<div class="box-body">
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox
								<span class="label-text-right pull-right">35</span></a>
							</li>
							<li><a href="#"><i class="fa fa-envelope"></i> Sent</a></li>
							<li><a href="#"><i class="fa fa-file-text"></i> Drafts
								<span class="label-text-right pull-right">27</span></a>
							</li>
							<li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label-right bg-primary pull-right">234</span></a>
							</li>
							<li><a href="#"><i class="fa fa-trash"></i> Trash</a></li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /. box -->
				<div class="box box-solid">
					<div class="box-body">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#"><i class="fa fa-circle-o text-primary"></i> Important</a></li>
							<li><a href="#"><i class="fa fa-circle-o text-success"></i> Promotions</a></li>
							<li><a href="#"><i class="fa fa-circle-o text-danger"></i> Social</a></li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col-md-3 col-xs-12 -->
			<div class="col-md-9 col-xs-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Compose New Message</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="form-group margin-top-20"><input class="form-control" placeholder="To:"></div>
						<div class="form-group"><input class="form-control" placeholder="Subject:"></div>
						<textarea id="tinymce">
							<img src="http://placehold.it/80x80" alt="">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ad consequatur illum unde! Sapiente accusantium, officiis ab velit sunt, perspiciatis ducimus expedita voluptates corrupti hic eligendi iusto ad error id!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab sapiente ratione quidem aut rerum asperiores tenetur, minus eveniet porro! Quo, quos harum accusamus sapiente perspiciatis dicta ratione tempore officia.</p>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
								<li>Culpa ad consequatur illum unde! Sapiente accusantium.</li>
								<li>A ab sapiente ratione quidem aut rerum asperiores tenetur</li>
								<li>Quo, quos harum accusamus sapiente perspiciatis</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							</ul>
						</textarea>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<div class="pull-right">
							<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-pencil"></i> Reply</button>
							<button type="button" class="btn btn-primary btn-sm waves-effect waves-light"><i class="fa fa-envelope-o"></i> Send</button>
						</div>
						<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-times"></i> Discard</button>
					</div>
					<!-- /.box-footer -->
				</div>
				<!-- /. box -->
			</div>
			<!-- /.col-md-9 col-xs-12 -->
		</div>
		{% endblock content%}