{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="pricing-plan">
			<div class="pricing-table">
				<div class="col col-first">
					<div class="thead"><div class="center-v">Choose your plan</div></div>
					<div class="td">Work experience</div>
					<div class="td">Work tools</div>
					<div class="td">Professional training</div>
					<div class="td">Quantity</div>
					<div class="td">24h support</div>
					<div class="td">Guarantee</div>
					<div class="td"></div>    
				</div>
				<div class="col">
					<div class="thead bg-blue-1">
						<h4>House Cleaning</h4>
						<div class="price">
							<span class="currency">$</span>
							<span class="number">19</span>
							<span class="small_number">99</span>
							<span class="time">Hour</span>
						</div>
					</div>
					<div class="td">Experience staff 500 hr</div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td"><i class="fa fa-times"></i></div>
					<div class="td">5 people at home</div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td"><i class="fa fa-times"></i></div>
					<div class="td"><a href="#" class="btn-order js__popup_open" data-target="#register-form-popup-2">ORDER NOW</a></div>       
				</div>
				<div class="col col-featured">
					<div class="thead bg-main-2">
						<h4>Business Cleaning</h4>
						<div class="price">
							<span class="currency">$</span>
							<span class="number">29</span>
							<span class="small_number">99</span>
							<span class="time">Hour</span>
						</div>
					</div>
					<div class="td">Experience staff 300 hr</div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td">3 people at home</div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td"><a href="#" class="btn-order js__popup_open" data-target="#register-form-popup-2">ORDER NOW</a></div>    
				</div>
				<div class="col">
					<div class="thead bg-blue-2">
						<h4>Office Cleaning</h4>
						<div class="price">
							<span class="currency">$</span>
							<span class="number">39</span>
							<span class="small_number">99</span>
							<span class="time">Hour</span>
						</div>
					</div>
					<div class="td">Experience staff 200 hr</div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td">2 people at home</div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td"><i class="fa fa-times"></i></div>
					<div class="td"><a href="#" class="btn-order js__popup_open" data-target="#register-form-popup-2">ORDER NOW</a></div>       
				</div>
				<div class="col">
					<div class="thead bg-blue-3">
						<h4>Glass Cleaning</h4>
						<div class="price">
							<span class="currency">$</span>
							<span class="number">39</span>
							<span class="small_number">99</span>
							<span class="time">Hour</span>
						</div>
					</div>
					<div class="td">Experience staff 200 hr</div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td">2 people at home</div>
					<div class="td"><i class="fa fa-times"></i></div>
					<div class="td"><i class="fa fa-check"></i></div>
					<div class="td"><a href="#" class="btn-order js__popup_open" data-target="#register-form-popup-2">ORDER NOW</a></div>    
				</div>
			</div>
		</div>
		<!-- /.pricing-plan -->	
		{% endblock content%}