{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-lg-4 col-md-6">
				<div class="box-contact">
					<img src="http://placehold.it/450x450" alt="" class="avatar">
					<h3 class="name margin-top-10">Mat Helme</h3>
					<!-- /.name -->
					<h4 class="job">CEO</h4>
					<!-- /.job -->
					<div class="text-muted">
						<p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error quibusdam officia amet dolores repellendus rem dolorum saepe!</p>
						<ul class="contact-social list-inline">
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="+1 23 456 789" class="fa fa-phone"></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="youremail@gmail.com" class="fa fa-envelope"></a></li>
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
				</div>
				<!-- /.box-contact -->
			</div>
			<!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-4 col-md-6">
				<div class="box-contact">
					<img src="http://placehold.it/128x128" alt="" class="avatar">
					<h3 class="name margin-top-10">Betty Simmons</h3>
					<!-- /.name -->
					<h4 class="job">Manager</h4>
					<!-- /.job -->
					<div class="text-muted">
						<p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error quibusdam officia amet dolores repellendus rem dolorum saepe!</p>
						<ul class="contact-social list-inline">
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="+1 23 456 789" class="fa fa-phone"></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="youremail@gmail.com" class="fa fa-envelope"></a></li>
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
				</div>
				<!-- /.box-contact -->
			</div>
			<!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-4 col-md-6">
				<div class="box-contact">
					<img src="http://placehold.it/128x128" alt="" class="avatar">
					<h3 class="name margin-top-10">Charles Wilson</h3>
					<!-- /.name -->
					<h4 class="job">Support</h4>
					<!-- /.job -->
					<div class="text-muted">
						<p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error quibusdam officia amet dolores repellendus rem dolorum saepe!</p>
						<ul class="contact-social list-inline">
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="+1 23 456 789" class="fa fa-phone"></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="youremail@gmail.com" class="fa fa-envelope"></a></li>
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
				</div>
				<!-- /.box-contact -->
			</div>
			<!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-4 col-md-6">
				<div class="box-contact">
					<img src="http://placehold.it/128x128" alt="" class="avatar">
					<h3 class="name margin-top-10">Emily Stanley</h3>
					<!-- /.name -->
					<h4 class="job">Designer</h4>
					<!-- /.job -->
					<div class="text-muted">
						<p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error quibusdam officia amet dolores repellendus rem dolorum saepe!</p>
						<ul class="contact-social list-inline">
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="+1 23 456 789" class="fa fa-phone"></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="youremail@gmail.com" class="fa fa-envelope"></a></li>
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
				</div>
				<!-- /.box-contact -->
			</div>
			<!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-4 col-md-6">
				<div class="box-contact">
					<img src="http://placehold.it/128x128" alt="" class="avatar">
					<h3 class="name margin-top-10">Jack Hunt</h3>
					<!-- /.name -->
					<h4 class="job">Front-end Developer</h4>
					<!-- /.job -->
					<div class="text-muted">
						<p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error quibusdam officia amet dolores repellendus rem dolorum saepe!</p>
						<ul class="contact-social list-inline">
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="+1 23 456 789" class="fa fa-phone"></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="youremail@gmail.com" class="fa fa-envelope"></a></li>
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
				</div>
				<!-- /.box-contact -->
			</div>
			<!-- /.col-lg-4 col-md-6 -->
			<div class="col-lg-4 col-md-6">
				<div class="box-contact">
					<img src="http://placehold.it/128x128" alt="" class="avatar">
					<h3 class="name margin-top-10">Andrea Brewer</h3>
					<!-- /.name -->
					<h4 class="job">Back-end Developer</h4>
					<!-- /.job -->
					<div class="text-muted">
						<p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error quibusdam officia amet dolores repellendus rem dolorum saepe!</p>
						<ul class="contact-social list-inline">
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="+1 23 456 789" class="fa fa-phone"></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" title="youremail@gmail.com" class="fa fa-envelope"></a></li>
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
				</div>
				<!-- /.box-contact -->
			</div>
			<!-- /.col-lg-4 col-md-6 -->
		</div>
		{% endblock content%}