{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<div class="row">
						<div class="col-lg-6 col-xs-12">
							<div id="accordion-1" class="js__ui_accordion margin-top-20">
								<h3 class="accordion-title">What is NinjaAdmin?</h3>
								<div class="accordion-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio aperiam totam aspernatur culpa obcaecati vel enim incidunt odit accusantium itaque ipsum, vero beatae minima fuga iure. Aliquid pariatur doloribus excepturi.</p>
									<ul>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
									</ul>
								</div>
								<h3 class="accordion-title">How NinjaAdmin work?</h3>
								<div class="accordion-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio aperiam totam aspernatur culpa obcaecati vel enim incidunt odit accusantium itaque ipsum, vero beatae minima fuga iure. Aliquid pariatur doloribus excepturi.</p>
									<ul>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
									</ul>
								</div>
								<h3 class="accordion-title">What's type of NinjaAdmin?</h3>
								<div class="accordion-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio aperiam totam aspernatur culpa obcaecati vel enim incidunt odit accusantium itaque ipsum, vero beatae minima fuga iure. Aliquid pariatur doloribus excepturi.</p>
									<ul>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
										<li>List item</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /.col-lg-6 col-xs-12 -->
						<div class="col-lg-6 col-xs-12">
							<div class="text-right">
								<h3 class="margin-bottom-20"><strong>Frequently Asked Questions</strong></h3>
								<p class="text-muted limit-width margin-bottom-20">Obcaecati eaque voluptates, minima pariatur reprehenderit eligendi laborum incidunt doloribus facilis atque? Totam optio, natus.</p>
								<ul class="list-inline list-inline-faq">
									<li class="margin-bottom-10"><a href="#" class="btn btn-info"><i class="fa fa-envelope"></i> Email us your question</a></li>
								</ul>
							</div>
						</div>
						<!-- /.col-lg-6 col-xs-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		{% endblock content%}