{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="isotope-filter js__filter_isotope">
			<ul class="filter-controls">
				<li><a href="#" class="js__filter_control js__active" data-filter="*">All</a></li>
				<li><a href="#" class="js__filter_control" data-filter=".massage">Massage</a></li>
				<li><a href="#" class="js__filter_control" data-filter=".skin-care">Skin Care</a></li>
				<li><a href="#" class="js__filter_control" data-filter=".make-hair">Make Hair</a></li>
				<li><a href="#" class="js__filter_control" data-filter=".spa">Spa</a></li>
				<li><a href="#" class="js__filter_control" data-filter=".nail">Nail</a></li>
				<li><a href="#" class="js__filter_control" data-filter=".beauty">Beauty</a></li>
			</ul>
			<!-- /.filter-controls -->
			<div class="row row-inline-block small-spacing js__isotope_items">
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item beauty">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item massage beauty spa" data-lightview-group="group">
					<a href="http://placehold.it/360x220" class="item-gallery lightview">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item nail">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item spa">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item make-hair">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item spa massage">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item nail beauty">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item massage">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item spa skin-care beauty" data-lightview-group="group">
					<a href="http://placehold.it/360x220" class="item-gallery lightview">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item nail beauty">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item massage">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item spa skin-care beauty" data-lightview-group="group">
					<a href="http://placehold.it/360x220" class="item-gallery lightview">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item nail beauty">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item massage">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
				<div class="col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item spa skin-care beauty">
					<a href="http://placehold.it/360x220" class="item-gallery lightview" data-lightview-group="group">
						<img src="http://placehold.it/360x220" alt="">
						<h2 class="title">Etiam Processus Dynamicus</h2>
						<!-- /.title -->
					</a>
				</div>
				<!-- /.col-md-4 col-sm-6 col-tb-6 col-xs-12 js__isotope_item -->
			</div>
			<!-- /.row row-inline-block js__isotope_items -->
		</div>
		{% endblock content%}