{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="prj-header margin-bottom-30">
			<a href="#" class="btn btn-info btn-submit-prj btn-sm waves-effect waves-light">Submit Project</a>
			<div class="result-count">130 Projects</div>
			<!-- /.result-count -->
			<ul class="filters">
				<li><a class="active" href="#">All</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">API Wrappers</a></li>
				<li><a href="#">Apps</a></li>
				<li><a href="#">Others</a></li>
			</ul>
			<!-- /.filters -->
		</div>
		<!-- /.prj-header -->

		<div class="prj-list row">
			<div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
				<a href="#" class="prj-item">
					<div class="top-project-section">
						<div class="project-icon">
							<img src="http://placehold.it/184x170" alt="">
						</div>
						<h3>Bold Meida</h3>
						<div class="meta">
							<p class="author">
								by <span>Bold Meida</span>
							</p>
						</div>
					</div>
					<div class="bottom-project-section">
						<div class="meta">
							<div class="points">
								<i class="fa fa-heart-o"></i> 407
							</div>
							<div class="views">
								<i class="fa fa-eye"></i> 40.6k
							</div>
							<span class="feedable-time timeago">2 years ago</span>
						</div>
					</div>
				</a>
			</div>
			<!-- .col-lg-4 col-md-6 project-item -->
			<div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
				<a href="#" class="prj-item">
					<div class="top-project-section">
						<div class="project-icon">
							<img src="http://placehold.it/182x197" alt="">
						</div>
						<h3>Helperia</h3>
						<div class="meta">
							<p class="author">
								by <span>Helperia</span>
							</p>
						</div>
					</div>
					<div class="bottom-project-section">
						<div class="meta">
							<div class="points">
								<i class="fa fa-heart-o"></i> 265
							</div>
							<div class="views">
								<i class="fa fa-eye"></i> 16.5k
							</div>
							<span class="feedable-time timeago">about a year ago</span>
						</div>
					</div>
				</a>
			</div>
			<!-- .col-lg-4 col-md-6 project-item -->
			<div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
				<a href="#" class="prj-item">
					<div class="top-project-section">
						<div class="project-icon">
							<img src="http://placehold.it/233x233" alt="">
						</div>
						<h3>Tutum</h3>
						<div class="meta">
							<p class="author">
								by <span>Tutum</span>
							</p>
						</div>
					</div>
					<div class="bottom-project-section">
						<div class="meta">
							<div class="points">
								<i class="fa fa-heart-o"></i> 96
							</div>
							<div class="views">
								<i class="fa fa-eye"></i> 47.3k
							</div>
							<span class="feedable-time timeago">2 years ago</span>
						</div>
					</div>
				</a>
			</div>
			<!-- .col-lg-4 col-md-6 project-item -->
			<div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
				<a href="#" class="prj-item">
					<div class="top-project-section">
						<div class="project-icon">
							<img src="http://placehold.it/184x170" alt="">
						</div>
						<h3>Bold Meida</h3>
						<div class="meta">
							<p class="author">
								by <span>Bold Meida</span>
							</p>
						</div>
					</div>
					<div class="bottom-project-section">
						<div class="meta">
							<div class="points">
								<i class="fa fa-heart-o"></i> 407
							</div>
							<div class="views">
								<i class="fa fa-eye"></i> 40.6k
							</div>
							<span class="feedable-time timeago">2 years ago</span>
						</div>
					</div>
				</a>
			</div>
			<!-- .col-lg-4 col-md-6 project-item -->
			<div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
				<a href="#" class="prj-item">
					<div class="top-project-section">
						<div class="project-icon">
							<img src="http://placehold.it/182x197" alt="">
						</div>
						<h3>Helperia</h3>
						<div class="meta">
							<p class="author">
								by <span>Helperia</span>
							</p>
						</div>
					</div>
					<div class="bottom-project-section">
						<div class="meta">
							<div class="points">
								<i class="fa fa-heart-o"></i> 265
							</div>
							<div class="views">
								<i class="fa fa-eye"></i> 16.5k
							</div>
							<span class="feedable-time timeago">about a year ago</span>
						</div>
					</div>
				</a>
			</div>
			<!-- .col-lg-4 col-md-6 project-item -->
			<div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
				<a href="#" class="prj-item">
					<div class="top-project-section">
						<div class="project-icon">
							<img src="http://placehold.it/233x233" alt="">
						</div>
						<h3>Tutum</h3>
						<div class="meta">
							<p class="author">
								by <span>Tutum</span>
							</p>
						</div>
					</div>
					<div class="bottom-project-section">
						<div class="meta">
							<div class="points">
								<i class="fa fa-heart-o"></i> 96
							</div>
							<div class="views">
								<i class="fa fa-eye"></i> 47.3k
							</div>
							<span class="feedable-time timeago">2 years ago</span>
						</div>
					</div>
				</a>
			</div>
			<!-- .col-lg-4 col-md-6 project-item -->
			<div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
				<a href="#" class="prj-item">
					<div class="top-project-section">
						<div class="project-icon">
							<img src="http://placehold.it/184x170" alt="">
						</div>
						<h3>Bold Meida</h3>
						<div class="meta">
							<p class="author">
								by <span>Bold Meida</span>
							</p>
						</div>
					</div>
					<div class="bottom-project-section">
						<div class="meta">
							<div class="points">
								<i class="fa fa-heart-o"></i> 407
							</div>
							<div class="views">
								<i class="fa fa-eye"></i> 40.6k
							</div>
							<span class="feedable-time timeago">2 years ago</span>
						</div>
					</div>
				</a>
			</div>
			<!-- .col-lg-4 col-md-6 project-item -->
			<div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
				<a href="#" class="prj-item">
					<div class="top-project-section">
						<div class="project-icon">
							<img src="http://placehold.it/182x197" alt="">
						</div>
						<h3>Helperia</h3>
						<div class="meta">
							<p class="author">
								by <span>Helperia</span>
							</p>
						</div>
					</div>
					<div class="bottom-project-section">
						<div class="meta">
							<div class="points">
								<i class="fa fa-heart-o"></i> 265
							</div>
							<div class="views">
								<i class="fa fa-eye"></i> 16.5k
							</div>
							<span class="feedable-time timeago">about a year ago</span>
						</div>
					</div>
				</a>
			</div>
			<!-- .col-lg-4 col-md-6 project-item -->
			<div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
				<a href="#" class="prj-item">
					<div class="top-project-section">
						<div class="project-icon">
							<img src="http://placehold.it/233x233" alt="">
						</div>
						<h3>Tutum</h3>
						<div class="meta">
							<p class="author">
								by <span>Tutum</span>
							</p>
						</div>
					</div>
					<div class="bottom-project-section">
						<div class="meta">
							<div class="points">
								<i class="fa fa-heart-o"></i> 96
							</div>
							<div class="views">
								<i class="fa fa-eye"></i> 47.3k
							</div>
							<span class="feedable-time timeago">2 years ago</span>
						</div>
					</div>
				</a>
			</div>
			<!-- .col-lg-4 col-md-6 project-item -->
		</div>
		<!-- .prj-list row -->
		<div class="text-center">
			<a href="#" class="btn btn-success">Load More Results</a>
		</div>

		{% endblock content%}