{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-md-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Basic Wizard</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="rootwizard">
						<div class="tab-header">
							<div class="navbar">
								<div class="navbar-inner">
									<ul>
										<li><a href="#tab1" data-toggle="tab">First</a></li>
										<li><a href="#tab2" data-toggle="tab">Second</a></li>
										<li><a href="#tab3" data-toggle="tab">Third</a></li>
										<li><a href="#tab4" data-toggle="tab">Forth</a></li>
										<li><a href="#tab5" data-toggle="tab">Fifth</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-content">
							<div class="tab-pane" id="tab1">
								1
							</div>
							<div class="tab-pane" id="tab2">
								2
							</div>
							<div class="tab-pane" id="tab3">
								3
							</div>
							<div class="tab-pane" id="tab4">
								4
							</div>
							<div class="tab-pane" id="tab5">
								5
							</div>
							<ul class="pager wizard">
								<li class="previous"><a href="javascript:void(0)">Previous</a></li>
								<li class="next"><a href="javascript:void(0)">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-6 col-xs-12 -->

			<div class="col-md-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Tabs Wizard</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="rootwizard-pill">
						<div class="tab-header pill">
							<div class="navbar">
								<div class="navbar-inner">
									<ul>
										<li><a href="#tab-pill1" data-toggle="tab">First</a></li>
										<li><a href="#tab-pill2" data-toggle="tab">Second</a></li>
										<li><a href="#tab-pill3" data-toggle="tab">Third</a></li>
										<li><a href="#tab-pill4" data-toggle="tab">Forth</a></li>
										<li><a href="#tab-pill5" data-toggle="tab">Fifth</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-content">
							<div class="tab-pane" id="tab-pill1">
								1
							</div>
							<div class="tab-pane" id="tab-pill2">
								2
							</div>
							<div class="tab-pane" id="tab-pill3">
								3
							</div>
							<div class="tab-pane" id="tab-pill4">
								4
							</div>
							<div class="tab-pane" id="tab-pill5">
								5
							</div>
							<ul class="pager wizard">
								<li class="previous"><a href="javascript:void(0)">Previous</a></li>
								<li class="next"><a href="javascript:void(0)">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-6 col-xs-12 -->
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Progress bar</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="rootwizard-progress">
						<div class="tab-header">
							<div class="navbar">
								<div class="navbar-inner">
									<ul>
										<li><a href="#tab-progress-1" data-toggle="tab">First</a></li>
										<li><a href="#tab-progress-2" data-toggle="tab">Second</a></li>
										<li><a href="#tab-progress-3" data-toggle="tab">Third</a></li>
										<li><a href="#tab-progress-4" data-toggle="tab">Forth</a></li>
										<li><a href="#tab-progress-5" data-toggle="tab">Fifth</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-content">
							<div id="bar" class="progress">
								<div class="progress-bar active progress-bar-success progress-bar-striped bar"></div>
							</div>
							<div class="tab-pane" id="tab-progress-1">
								<p>I'm in Section 1.</p>
							</div>
							<div class="tab-pane" id="tab-progress-2">
								<p>Howdy, I'm in Section 2.</p>
							</div>
							<div class="tab-pane" id="tab-progress-3">
								3
							</div>
							<div class="tab-pane" id="tab-progress-4">
								4
							</div>
							<div class="tab-pane" id="tab-progress-5">
								5
							</div>
							<ul class="pager wizard">
								<li class="previous"><a href="javascript:void(0)">Previous</a></li>
								<li class="next"><a href="javascript:void(0)">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-6 col-xs-12 -->
			<div class="col-md-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Wizard With Form Validation</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<form id="commentForm" action="#">
						<div id="tabsleft" class="tabbable tabs-left">
							<ul>
								<li><a href="#tabsleft-tab1" data-toggle="tab">First</a></li>
								<li><a href="#tabsleft-tab2" data-toggle="tab">Second</a></li>
								<li><a href="#tabsleft-tab3" data-toggle="tab">Third</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane" id="tabsleft-tab1">
									<div class="form-group">
										<label for="emailfield">Email</label>
										<div class="controls">
											<input type="text" id="emailfield" name="emailfield" class="required email form-control">
										</div>
									</div>
									<div class="form-group">
										<label for="namefield">Name</label>
										<div class="controls">
											<input type="text" id="namefield" name="namefield" class="required form-control">
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tabsleft-tab2">
									<div class="form-group">
										<label for="urlfield">URL</label>
										<div class="controls">
											<input type="text" id="urlfield" name="urlfield" class="required url form-control">
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tabsleft-tab3">
									<div class="checkbox checkbox-primary">
										<input id="checkbox-h3" type="checkbox">
										<label for="checkbox-h3">
											I agree with the Terms and Conditions.
										</label>
									</div>
								</div>
								<ul class="pager wizard">
									<li class="previous first"><a href="javascript:;">First</a></li>
									<li class="previous"><a href="javascript:;">Previous</a></li>
									<li class="next last"><a href="javascript:;">Last</a></li>
									<li class="next"><a href="javascript:;">Next</a></li>
									<li class="next finish" style="display:none;"><a href="javascript:;">Finish</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-6 col-xs-12 -->
		</div>
		{% endblock content %}