{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row row-inline-block small-spacing">
			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Basic</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>
					<table class="table">
						<caption>Optional table caption.</caption>
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th> 
								<th>Last Name</th> 
								<th>Username</th> 
							</tr> 
						</thead> 
						<tbody> 
							<tr> 
								<th scope="row">1</th> 
								<td>Mark</td> 
								<td>Otto</td> 
								<td>@mdo</td> 
							</tr> 
							<tr> 
								<th scope="row">2</th> 
								<td>Jacob</td> 
								<td>Thornton</td> 
								<td>@fat</td> 
							</tr> 
							<tr> 
								<th scope="row">3</th> 
								<td>Larry</td> 
								<td>the Bird</td> 
								<td>@twitter</td> 
							</tr> 
						</tbody> 
					</table>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Striped rows</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code></p>
					<table class="table table-striped">
						<caption>Optional table caption.</caption>
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th> 
								<th>Last Name</th> 
								<th>Username</th> 
							</tr> 
						</thead> 
						<tbody> 
							<tr> 
								<th scope="row">1</th> 
								<td>Mark</td> 
								<td>Otto</td> 
								<td>@mdo</td> 
							</tr> 
							<tr> 
								<th scope="row">2</th> 
								<td>Jacob</td> 
								<td>Thornton</td> 
								<td>@fat</td> 
							</tr> 
							<tr> 
								<th scope="row">3</th> 
								<td>Larry</td> 
								<td>the Bird</td> 
								<td>@twitter</td> 
							</tr> 
						</tbody> 
					</table>
					<p><strong class="text-info">Note:</strong> Striped tables are styled via the <code>:nth-child</code> CSS selector, which is not available in Internet Explorer 8.</p>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Bordered table</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
					<table class="table table-bordered">
						<caption>Optional table caption.</caption>
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th> 
								<th>Last Name</th> 
								<th>Username</th> 
							</tr> 
						</thead> 
						<tbody> 
							<tr> 
								<th scope="row">1</th> 
								<td>Mark</td> 
								<td>Otto</td> 
								<td>@mdo</td> 
							</tr> 
							<tr> 
								<th scope="row">2</th> 
								<td>Jacob</td> 
								<td>Thornton</td> 
								<td>@fat</td> 
							</tr> 
							<tr> 
								<th scope="row">3</th> 
								<td>Larry</td> 
								<td>the Bird</td> 
								<td>@twitter</td> 
							</tr> 
						</tbody> 
					</table>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Hover rows</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;body&gt;</code></p>
					<table class="table table-hover">
						<caption>Optional table caption.</caption>
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th> 
								<th>Last Name</th> 
								<th>Username</th> 
							</tr> 
						</thead> 
						<tbody> 
							<tr> 
								<th scope="row">1</th> 
								<td>Mark</td> 
								<td>Otto</td> 
								<td>@mdo</td> 
							</tr> 
							<tr> 
								<th scope="row">2</th> 
								<td>Jacob</td> 
								<td>Thornton</td> 
								<td>@fat</td> 
							</tr> 
							<tr> 
								<th scope="row">3</th> 
								<td>Larry</td> 
								<td>the Bird</td> 
								<td>@twitter</td> 
							</tr> 
						</tbody> 
					</table>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Condensed table</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Add <code>.table-condensed</code> to make tables more compact by cutting cell padding in half.</p>
					<table class="table table-condensed">
						<caption>Optional table caption.</caption>
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th> 
								<th>Last Name</th> 
								<th>Username</th> 
							</tr> 
						</thead> 
						<tbody> 
							<tr> 
								<th scope="row">1</th> 
								<td>Mark</td> 
								<td>Otto</td> 
								<td>@mdo</td> 
							</tr> 
							<tr> 
								<th scope="row">2</th> 
								<td>Jacob</td> 
								<td>Thornton</td> 
								<td>@fat</td> 
							</tr> 
							<tr> 
								<th scope="row">3</th> 
								<td>Larry</td> 
								<td>the Bird</td> 
								<td>@twitter</td> 
							</tr> 
						</tbody> 
					</table>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Contextual classes</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Use contextual classes to color table rows or individual cells.</p>
					<table class="table">
						<caption>Optional table caption.</caption>
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th> 
								<th>Last Name</th> 
								<th>Username</th> 
							</tr> 
						</thead> 
						<tbody> 
							<tr class="success"> 
								<th scope="row">1</th> 
								<td>Mark</td> 
								<td>Otto</td> 
								<td>@mdo</td> 
							</tr> 
							<tr class="info"> 
								<th scope="row">2</th> 
								<td>Jacob</td> 
								<td>Thornton</td> 
								<td>@fat</td> 
							</tr> 
							<tr class="warning"> 
								<th scope="row">3</th> 
								<td>Larry</td> 
								<td>the Bird</td> 
								<td>@twitter</td> 
							</tr> 
						</tbody> 
					</table>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Responsive tables</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.</p>
					<div class="table-responsive">
						<table class="table">
							<thead> 
								<tr> 
									<th>#</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
								</tr> 
							</thead> 
							<tbody> 
								<tr> 
									<th scope="row">1</th> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
								</tr> 
								<tr> 
								<th scope="row">2</th> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
								</tr> 
								<tr> 
									<th scope="row">3</th> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
								</tr> 
							</tbody> 
						</table> 
						<table class="table table-bordered">
							<thead> 
								<tr> 
									<th>#</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
									<th>Table heading</th> 
								</tr> 
							</thead> 
							<tbody> 
								<tr> 
									<th scope="row">1</th> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
								</tr> 
								<tr> 
								<th scope="row">2</th> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
								</tr> 
								<tr> 
									<th scope="row">3</th> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
									<td>Table cell</td> 
								</tr> 
							</tbody> 
						</table>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		{% endblock content %}