{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row row-inline-block small-spacing">
			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Card Title</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title"><i class="ico fa fa-user"></i>Card Title With Icon</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title text-primary">Card Title With Color</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content bordered">
					<h4 class="box-title">Card Title</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content bordered primary">
					<h4 class="box-title"><i class="ico glyphicon glyphicon-home"></i>Card Title</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content bordered-all danger">
					<h4 class="box-title"><i class="ico fa fa-warning"></i>Card Title</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content card danger">
					<h4 class="box-title">Card Title</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div class="card-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content card">
					<h4 class="box-title bg-warning"><i class="ico fa fa-space-shuttle"></i>Card Title</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div class="card-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content card bordered-all success">
					<h4 class="box-title bg-success"><i class="ico fa fa-heartbeat"></i>Card Title</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div class="card-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content js__card">
					<h4 class="box-title with-control">
						Card Title
						<span class="controls">
							<button type="button" class="control fa fa-minus js__card_minus"></button>
							<button type="button" class="control fa fa-times js__card_remove"></button>
						</span>
						<!-- /.controls -->
					</h4>
					<!-- /.box-title -->
					<div class="js__card_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content bordered info js__card">
					<h4 class="box-title with-control">
						Card Title
						<span class="controls">
							<button type="button" class="control fa fa-minus js__card_minus"></button>
							<button type="button" class="control fa fa-times js__card_remove"></button>
						</span>
						<!-- /.controls -->
					</h4>
					<!-- /.box-title -->
					<div class="js__card_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->

			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content card bordered-all danger js__card">
					<h4 class="box-title bg-danger with-control">
						Card Title
						<span class="controls">
							<button type="button" class="control fa fa-minus js__card_minus"></button>
							<button type="button" class="control fa fa-times js__card_remove"></button>
						</span>
						<!-- /.controls -->
					</h4>
					<!-- /.box-title -->
					<div class="card-content js__card_content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fugit facilis nulla repudiandae odit ipsam sit aliquam voluptatum quaerat quod ab molestiae, rem, nostrum perferendis ipsa nam doloribus dolorem explicabo!</p>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-md-6 col-xs-12 -->
		</div>
		{% endblock content %}