{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row row-inline-block small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<div class="row">
						<div class="col-md-4 col-xs-12">
							<div class="form-group">
								<label for="title">Title</label>
								<input id="title" type="text" class="form-control" placeholder="Enter a title ..." />
							</div>
							<!-- /.form-group -->
							<div class="form-group">
								<label for="message">Message</label>
								<textarea class="form-control" id="message" rows="3" placeholder="Enter a message ..."></textarea>
							</div>
							<!-- /.form-group -->
							<div class="switch primary margin-top-30">
								<input type="checkbox" value="checked" id="closeButton">
								<label for="closeButton">Close Button</label>
							</div>
							<!-- /.switch -->
							<div class="switch primary">
								<input type="checkbox" value="checked" id="addBehaviorOnToastClick">
								<label for="addBehaviorOnToastClick">Add behavior on toast click</label>
							</div>
							<!-- /.switch -->
							<div class="switch primary">
								<input type="checkbox" value="checked" id="addBehaviorOnToastCloseClick">
								<label for="addBehaviorOnToastCloseClick">Add behavior on toast close button click</label>
							</div>
							<!-- /.switch -->
							<div class="switch primary">
								<input type="checkbox" value="checked" id="debugInfo">
								<label for="debugInfo">Debug</label>
							</div>
							<!-- /.switch -->
							<div class="switch primary">
								<input type="checkbox" value="checked" id="progressBar">
								<label for="progressBar">Progress Bar</label>
							</div>
							<!-- /.switch -->
							<div class="switch primary">
								<input type="checkbox" value="checked" id="rtl">
								<label for="rtl">Right-To-Left</label>
							</div>
							<!-- /.switch -->
							<div class="switch primary">
								<input type="checkbox" value="checked" id="preventDuplicates">
								<label for="preventDuplicates">Prevent Duplicates</label>
							</div>
							<!-- /.switch -->
							<div class="switch primary">
								<input type="checkbox" value="checked" id="addClear">
								<label for="addClear">Add button to force clearing a toast, ignoring focus</label>
							</div>
							<!-- /.switch -->
							<div class="switch primary">
								<input type="checkbox" value="checked" id="newestOnTop">
								<label for="newestOnTop">Newest on top</label>
							</div>
							<!-- /.switch -->
						</div>
						<!-- /.col-md-4 -->
						<div class="col-md-2 col-xs-12">
							<div id="toastTypeGroup">
								<div class="form-group">
									<label>Toast Type</label>
								</div>
								<!-- /.form-group -->
								<div class="radio success">
									<input type="radio" name="toasts" id="radio-1" value="success" checked>
									<label for="radio-1">Success</label>
								</div>
								<!-- /.radio -->
								<div class="radio info">
									<input type="radio" name="toasts" id="radio-2" value="info">
									<label for="radio-2">Info</label>
								</div>
								<!-- /.radio -->
								<div class="radio warning">
									<input type="radio" name="toasts" id="radio-3" value="warning">
									<label for="radio-3">Warning</label>
								</div>
								<!-- /.radio -->
								<div class="radio danger">
									<input type="radio" name="toasts" id="radio-4" value="error">
									<label for="radio-4">Error</label>
								</div>
								<!-- /.radio -->
							</div>
							<!-- #toastTypeGroup -->
							<div id="positionGroup">
								<div class="form-group">
									<label>Position</label>
								</div>
								<!-- /.form-group -->
								<div class="radio">
									<input type="radio" name="positions" id="radio-5" value="toast-top-right" checked />
									<label for="radio-5">Top Right</label>
								</div>
								<!-- /.radio -->
								<div class="radio">
									<input type="radio" name="positions" id="radio-6" value="toast-bottom-right">
									<label for="radio-6">Bottom Right</label>
								</div>
								<!-- /.radio -->
								<div class="radio">
									<input type="radio" name="positions" id="radio-7" value="toast-bottom-left">
									<label for="radio-7">Bottom Left</label>
								</div>
								<!-- /.radio -->
								<div class="radio">
									<input type="radio" name="positions" id="radio-8" value="toast-top-left">
									<label for="radio-8">Top Left</label>
								</div>
								<!-- /.radio -->
								<div class="radio">
									<input type="radio" name="positions" id="radio-9" value="toast-top-full-width">
									<label for="radio-9">Top Full Width</label>
								</div>
								<!-- /.radio -->
								<div class="radio">
									<input type="radio" name="positions" id="radio-10" value="toast-bottom-full-width">
									<label for="radio-10">Bottom Full Width</label>
								</div>
								<!-- /.radio -->
								<div class="radio">
									<input type="radio" name="positions" id="radio-11" value="toast-top-center">
									<label for="radio-11">Top Center</label>
								</div>
								<!-- /.radio -->
								<div class="radio">
									<input type="radio" name="positions" id="radio-12" value="toast-bottom-center">
									<label for="radio-12">Bottom Center</label>
								</div>
								<!-- /.radio -->
							</div>
							<!-- /#positionGroup -->
						</div>
						<!-- /.col-md-2 -->
						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<label for="showEasing">Show Easing</label>
								<input id="showEasing" type="text" class="form-control" value="swing" placeholder="swing, linear" />
							</div>
							<!-- /.form-group -->
							<div class="form-group">
								<label for="hideEasing">Hide Easing</label>
								<input id="hideEasing" type="text" class="form-control" value="linear" placeholder="swing, linear" />
							</div>
							<!-- /.form-group -->
							<div class="form-group">
								<label for="showMethod">Show Method</label>
								<input id="showMethod" type="text" class="form-control" value="fadeIn" placeholder="show, fadeIn, slideDown" />
							</div>
							<!-- /.form-group -->
							<div class="form-group">
								<label for="hideMethod">Hide Method</label>
								<input id="hideMethod" type="text" class="form-control" value="fadeOut" placeholder="hide, fadeOut, slideUp" />
							</div>
							<!-- /.form-group -->
						</div>
						<!-- /.col-md-3 -->
						<div class="col-md-3">
							<div class="form-group">
								<label for="showDuration">Show Duration</label>
								<input id="showDuration" type="text" class="form-control" value="300" placeholder="ms" />
							</div>
							<!-- /.form-group -->
							<div class="form-group">
								<label for="hideDuration">Hide Duration</label>
								<input id="hideDuration" type="text" class="form-control" value="1000" placeholder="ms" />
							</div>
							<!-- /.form-group -->
							<div class="form-group">
								<label for="timeOut">Time out</label>
								<input id="timeOut" type="text" class="form-control" value="5000" placeholder="ms" />
							</div>
							<!-- /.form-group -->
							<div class="form-group">
								<label for="extendedTimeOut">Extended time out</label>
								<input id="extendedTimeOut" type="text" class="form-control" value="1000" placeholder="ms" />
							</div>
							<!-- /.form-group -->
						</div>
						<!-- /.col-md-3 -->
						<div class="col-xs-12 margin-top-30">
							<button type="button" class="btn btn-primary btn-sm waves-effect waves-light" id="showtoast">Show Toast</button>
							<button type="button" class="btn btn-danger btn-sm waves-effect waves-light" id="cleartoasts">Clear Toasts</button>
							<button type="button" class="btn btn-danger btn-sm waves-effect waves-light" id="clearlasttoast">Clear Last Toast</button>
							<pre id="toastrOptions" class="margin-top-20"></pre>
						</div>
						<!-- /.col-md-12 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		{% endblock content %}