
{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Jquery UI Slider</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div class="js__ui_slider" data-min="0" data-max="500" data-value-1="75" data-value-2="300">
						<p>
							<label for="amount-1">Price range:</label>
							<input type="text" id="amount-1" class="input-no-style text-danger js__slider_amount" readonly />
						</p>
						<div class="js__slider_range"></div>
					</div>
					<!-- .js__ui_slider -->
					<div class="margin-top-30 js__ui_slider" data-range="max" data-min="1" data-max="200" data-value-1="20">
						<p>
							<label for="amount-2">Minimum price:</label>
							<input type="text" id="amount-2" class="input-no-style text-danger js__slider_amount" readonly />
						</p>
						<div class="js__slider_range"></div>
					</div>
					<!-- .js__ui_slider -->
					<div class="margin-top-30 js__ui_slider" data-range="min" data-min="1" data-max="200" data-value-1="120">
						<p>
							<label for="amount-3">Maximum price:</label>
							<input type="text" id="amount-3" class="input-no-style text-danger js__slider_amount" readonly />
						</p>
						<div class="js__slider_range"></div>
					</div>
					<!-- .js__ui_slider -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->

			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">noUI Slider</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Custom connect</p>
					<div id="noui-connect" class="noui-connect"></div>

					<p class="margin-top-30">Using HTML5 input elements</p>
					<div id="noui-html5"></div>
					<select id="noui-select" class="noui-select"></select>
					<input id="noui-input-number" class="noui-number" type="number" min="-20" max="40" step="1">

					<p class="margin-top-30">Locking sliders together</p>
					<div id="noui-slider1" class="margin-top-20"></div>
					<div class="margin-top-10">
						<label>Value:</label><span id="noui-slider1-span"></span>
					</div>
					<div id="noui-slider2" class="margin-top-10"></div>
						<div class="margin-top-10">
							<label>Value:</label><span id="noui-slider2-span"></span>
						</div>
					<div class="margin-top-20">
						<button id="noui-lockbutton" class="btn btn-primary waves-effect waves-light">Lock</button>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->

			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Ion Ranger Slider</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<p>Start without params</p>
					<div id="ion-range-01"></div>

					<p class="margin-top-20">Set min value, max value and start point</p>
					<div id="ion-range-02"></div>

					<p class="margin-top-20">Set type to double and specify range, also showing grid and adding prefix "$"</p>
					<div id="ion-range-03"></div>

					<h4 class="margin-top-30"><strong>Set up range and step</strong></h4>
					<p>Set up range with negative values</p>
					<div id="ion-range-04"></div>

					<p class="margin-top-20">Using step 250</p>
					<div id="ion-range-05"></div>

					<p class="margin-top-20">Set up range with fractional values, using fractional step</p>
					<div id="ion-range-06"></div>

					<h4 class="margin-top-30"><strong>Using custom values array</strong></h4>
					<p>Set up you own numbers</p>
					<div id="ion-range-07"></div>

					<p class="margin-top-20">Using any strings as your values</p>
					<div id="ion-range-08"></div>

					<p class="margin-top-20">One more example with strings</p>
					<div id="ion-range-09"></div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		{% endblock content %}