{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<table class="table">
						<thead>
							<tr>
								<th style="width: 850px">Alert Type</th>
								<th style="width: 160px">Example</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>A basic message</td>
								<td><button id="sal-basic" class="btn btn-primary waves-effect waves-light" type="button">Try me!</button></td>
							</tr>
							<tr>
								<td>A title with a text under</td>
								<td><button id="sal-text" class="btn btn-primary waves-effect waves-light" type="button">Try me!</button></td>
							</tr>
							<tr>
								<td>A success message!</td>
								<td><button id="sal-success" class="btn btn-primary waves-effect waves-light" type="button">Try me!</button></td>
							</tr>
							<tr>
								<td>A warning message, with a function attached to the "Confirm"-button and by passing a parameter, you can execute something else for "Cancel"</td>
								<td><button id="sal-warning" class="btn btn-primary waves-effect waves-light" type="button">Try me!</button></td>
							</tr>
							<tr>
								<td>A message with a custom icon</td>
								<td><button id="sal-icon" class="btn btn-primary waves-effect waves-light" type="button">Try me!</button></td>
							</tr>
							<tr>
								<td>An HTML message</td>
								<td><button id="sal-html" class="btn btn-primary waves-effect waves-light" type="button">Try me!</button></td>
							</tr>
							<tr>
								<td>A message with auto close timer</td>
								<td><button id="sal-auto" class="btn btn-primary waves-effect waves-light" type="button">Try me!</button></td>
							</tr>
							<tr>
								<td>A replacement for the "prompt" function</td>
								<td><button id="sal-prompt" class="btn btn-primary waves-effect waves-light" type="button">Try me!</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		{% endblock content %} 