{% extends 'admin-base.html' %}
{% block title %}

{% endblock title %}


{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row row-inline-block small-spacing">
			<div class="col-md-3 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Default</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="treeview1"></div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-3 col-xs-12 -->

			<div class="col-md-3 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Collapsed</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="treeview2"></div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-3 col-xs-12 -->

			<div class="col-md-3 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Expanded</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="treeview3"></div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-3 col-xs-12 -->

			<div class="col-md-3 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Link enabled, or</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="treeview10"></div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-3 col-xs-12 -->

			<div class="col-md-4 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Blue Theme</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="treeview4"></div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-4 col-xs-12 -->

			<div class="col-md-4 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Custom Icons</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="treeview5"></div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-4 col-xs-12 -->

			<div class="col-md-4 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Tags as Badges</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div id="treeview6"></div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-4 col-xs-12 -->

			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Searchable Tree</h4>
					<!-- /.box-title -->
					<div class="dropdown js__drop_down">
						<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						<ul class="sub-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else there</a></li>
							<li class="split"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
						<!-- /.sub-menu -->
					</div>
					<!-- /.dropdown js__dropdown -->
					<div class="row">
						<div class="col-md-4">
							<h4>Input</h4>
							<!-- <form> -->
							<div class="form-group">
								<label for="input-search" class="sr-only">Search Tree:</label>
								<input type="text" class="form-control" id="input-search" placeholder="Type to search...">
							</div>
							<div class="checkbox">
								<input type="checkbox" class="checkbox" id="chk-ignore-case" value="false">
								<label for="chk-ignore-case">
									Ignore Case
								</label>
							</div>
							<div class="checkbox">
								<input type="checkbox" class="checkbox" id="chk-exact-match" value="false">
								<label for="chk-exact-match">
									Exact Match
								</label>
							</div>
							<div class="checkbox">
								<input type="checkbox" class="checkbox" id="chk-reveal-results" value="false">
								<label for="chk-reveal-results">
									Reveal Results
								</label>
							</div>
							<button type="button" class="btn btn-success waves-effect waves-light" id="btn-search">Search</button>
							<button type="button" class="btn btn-default waves-effect waves-light" id="btn-clear-search">Clear</button>
							<!-- </form> -->
						</div>
						<div class="col-md-4">
							<h4>Tree</h4>
							<div id="treeview-searchable" class=""></div>
						</div>
						<div class="col-md-4">
							<h4>Output</h4>
							<div id="search-output"></div>
						</div>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
	{% endblock content%}